<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="/assets/css/init.css" />
		<link rel="stylesheet" href="/assets/css/index.css" />
	</head>

	<body>
		<main>
			<header>
				<h1>DASHBOARD</h1>
			</header>
			<%- include('./components/navbar', {username: username}) %>
			<section>
				<figure>
					<figcaption>
						<h3><%= data.username %></h3>
						<div>
							<p>
								<%= data.bio %>
							</p>
							<p class="control">
								<a href="/">home</a>
								<a href="/login">login</a>
								<a href="/register">register</a>
							</p>
						</div>
					</figcaption>
					<% if (data.avatar) { %>
					<div
						class="fakeava"
						style="
							background-image: url('/assets/upload/<%=data.avatar%>');
						"
					></div>
					<% } else { %>
					<div class="fakeava"></div>
					<% } %>
				</figure>
			</section>
			<% for (post of posts) { %>
			<section>
				<figure>
					<% if (post.user.avatar) { %>
					<div
						class="fakeimg"
						style="
							background-image: url('/assets/upload/<%=post.user.avatar%>');
						"
					></div>
					<% } else { %>
					<div class="fakeimg"></div>
					<% } %>
					<figcaption>
						<a href="/user/<%= post.user.username %>"
							><b>@<%= post.user.username %></b></a
						>
						<div>
							<h2><%= post.title %></h2>
							<p>
								<%= post.body %>
							</p>
						</div>
					</figcaption>
				</figure>
				<p class="control">
					<a href="/">like</a>
					<a href="/login">comment</a>
					<a href="/register">share</a>
				</p>
			</section>
			<% } %>
		</main>
	</body>
</html>
