<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="/assets/css/init.css" />
		<link rel="stylesheet" href="/assets/css/index.css" />
	</head>

	<body>
		<main>
			<header>
				<h1>DASHBOARD</h1>
			</header>
			<%- include('./components/navbar', {username: username}) %>
			<section>
				<figure>
					<figcaption>
						<h3><%= data.username %></h3>
						<div>
							<p>
								<%= data.bio %>
							</p>
							<p class="control">
								<a href="/">home</a>
								<a href="/login">login</a>
								<a href="/register">register</a>
							</p>
						</div>
					</figcaption>
					<% if (data.avatar) { %>
					<div class="fakeava" style="background-image: url('/assets/upload/<%=data.avatar%>');"></div>
					<% } else { %>
					<div class="fakeava"></div>
					<% } %>
				</figure>
			</section>
			<section>
				<h2>Basic Settings</h2>
				<form
					method="POST"
					action="/user/settings/basic-settings"
					enctype="multipart/form-data"
				>
					<!-- <p><label>username</label> <input type="text" name="username"/></p> -->
					<p><label>Bio</label><textarea name="bio"></textarea></p>
					<p>
						<label>avatar</label>
						<input type="file" name="avatar" />
					</p>
					<p><input type="submit" value="update profile" /></p>
				</form>
			</section>
			<section>
				<h2>Security Settings</h2>
				<form method="POST" action="/user/settings">
					<p>
						<label>email</label> <input type="email" name="email" />
					</p>
					<p>
						<label>old password</label>
						<input type="password" name="password0" />
					</p>
					<p>
						<label>password</label>
						<input type="password" name="password" />
					</p>
					<p>
						<label>password confirmation</label>
						<input type="password" name="password2" />
					</p>
					<p><input type="submit" value="register" /></p>
				</form>
			</section>
			<% for (err of error) { %>
			<div class="err"><%=err.msg%></div>
			<% } %>
		</main>
	</body>
</html>
