<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Dashboard</title>
		<link rel="stylesheet" href="/assets/css/init.css" />
		<link rel="stylesheet" href="/assets/css/index.css" />
	</head>

	<body>
		<main>
			<header>
				<h1>Judul Page</h1>
			</header>
			<%- include('components/navbar', {username}) %>
			<section>
				<h2>New Post</h2>
				<form method="POST" action="/user/new-post">
					<p>
						<input type="text" placeholder="title" name="title" />
					</p>
					<p>
						<textarea
							name="body"
							placeholder="type here..."
						></textarea>
					</p>
					<p><input type="submit" value="new post" /></p>
				</form>
			</section>
			<% for (err of error) { %>
			<div class="err"><%= err.msg %></div>
			<% } %>
			<% for (post of posts) { %>
			<section>
				<figure>
					<% if (post.user.avatar) { %>
					<div
						class="fakeimg"
						style="
							background-image: url('/assets/upload/<%=post.user.avatar%>');
						"
					></div>
					<% } else { %>
					<div class="fakeimg"></div>
					<% } %>
					<figcaption>
						<a href="/user/<%= post.user.username %>"
							><b>@<%= post.user.username %></b></a
						>
						<div>
							<h2><%= post.title %></h2>
							<p>
								<%= post.body %>
							</p>
						</div>
					</figcaption>
				</figure>
				<p class="control">
					<a href="/">like</a>
					<a href="/login">comment</a>
					<a href="/register">share</a>
				</p>
			</section>
			<% } %>
		</main>
	</body>
</html>
