<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Dashboard</title>
	<link rel="stylesheet" href="/assets/css/init.css" />
	<link rel="stylesheet" href="/assets/css/index.css" />
</head>

<body>
	<main>
		<header>
			<h1>Judul Page</h1>
		</header>
		<%- include('components/admin-navbar') %>
		<section>
			<h2>Add Team</h2>
			<form action="/admin/team/add-team" method="POST">
				<p><label>Team Name</label> <input type="text" name="name" /></p>
				<p><label>Team About</label><textarea name="about"></textarea></p>
				<p><input type="submit" value="Add"/></p>
			</form>
		</section>
		<% for (team of teams) { %>
		<section>
			<figure>
				<figcaption>
					<h3><%= team.name %></h3>
					<div>
						<p>
							<%= team.about %>
						</p>
						<p class="control">
							<a href="/admin/team/add-person/<%= team.id %>">Add Person</a>
							<a href="/admin/team/delete/<%= team.id %>">Delete Team</a>
							<a href="/admin/team/update/<%= team.id %>">Update Team</a>
						</p>
					</div>
				</figcaption>
				<div class="fakeava"></div>
			</figure>
		</section>
		<% } %>
	</main>
</body>

</html>